@import "colors";
@import "fonts";
@import "mixins";
@import "header";
@import "banner";
@import "technologies";
@import "projects";
@import "about";
@import "footer";
@import "projectInfo";


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cinzel Decorative", serif;
}

html {
    //scroll-behavior: smooth;
}    

a {
    text-decoration: none;
}

.darker{
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(50%);
}

.light{
    filter: brightness(100%);
}



